.selections {
  bottom: 0;
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
}

.swatch {
  height: 50px;
  max-width: 50px;
  flex: 1;
  cursor: pointer;
}

.texture {
  height: 50px;
  width: 50px;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}
