.selections {
  bottom: 0;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50%;
}

.swatch {
  height: 50px;
  max-width: 50px;
  flex: 1;
}

.texture {
  height: 50px;
  width: 50px;
}
